
*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img1.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav ul li{
    list-style-type: none;
    display: inline; block;
}
nav ul li a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
}
nav ul li a:hover{
    background-color: blue;
}
.img{
    width: 350px;
    height: 350px;
    margin-inline-start: 20%;
    padding: 2%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
}
.main{
    padding: 2%;
    float: left;
    margin: 0;
}
.section{
   padding: 2%;
   background-position: 62px;
}
.footer{
    width: fit-content;
    height: 350px;
    background-color: aliceblue;
    padding: 5%;

}
.body{
    background-color: aqua;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.aside{
    padding: 5%;
}